/* header */

.hero {
    background: white;
    color: black;
    padding: 2px 0 20px;
    border: none;
    margin: none;
  }

  .title {
    display: block;
    text-align: left;
    margin: 5px;
    padding: 5px;
  }
  
/* footer styles */

  .footer { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  } 

  .icon {
    padding: 20px;
  }