/* header */

.hero {
  background: black;
  color: white;
  margin: none;
}

.title {
  display: block;
  text-align: left;
  margin-left: 20px;
  padding: 10px;
}

/* footer styles */

.footer { 
  display: flex; 
  align-items: center; 
  justify-content: center;
  background-color: black;
} 

.icon {
  padding: 20px;
  height: 120px;
  vertical-align: middle;
}

.div{
  display:flex;
  justify-content: center;
  
}

/* navigation */

.nav {
  display: flex;
}


/* react styles */

.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


